<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GCNUSBFeeder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>

    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <GCNUSBFeeder.Properties.Settings>
            <setting name="RefreshRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port1AX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port1AY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port1CX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port1CY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port1LT" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="port1RT" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="port2AX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port2AY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port2CX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port2CY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port2LT" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="port2RT" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="port3AX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port3AY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port3CX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port3CY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port3LT" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="port3RT" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="port4AX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port4AY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port4CX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port4CY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="port4LT" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="port4RT" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="autoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="port1Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="port2Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="port3Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="port4Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="disablePortsOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="upgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="currentVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="applicationVersion" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="updateURL" serializeAs="String">
                <value>http://www.m4sv.com/gcnadapter/version.txt</value>
            </setting>
        </GCNUSBFeeder.Properties.Settings>
    </userSettings>
</configuration>
